.navbar{
    background-color: white;
    border-bottom: solid;
 }
.headerLogo{
   width: 265px;

}
main{
   margin-left: 15px;
   margin-right: 15px;
}
.card {
   display: inline-block;
   align-items: center;
   text-align: left;
   margin-bottom: 10px; /* Added */
}
.tab-content{
   text-align: center;
}

 head{
    color: black;
 }

 #jumbotron{
    
  
  color: white;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
  font-size: 200%;
 }
 
 #imgJumbotron{
    width: 100%;
    height:200px;
    object-fit:contain;
 }
 
 #index_card{
    height:fit-content;
 }