{% extends 'base.html' %}

{% block content %}

        <div class="container-fluid">
            <h1 class="flex-column align-items-start" style="padding: 1%;">Booking History</h1>
            <div class="row" id="bookingHistory">
                <div class="col-sm-12 col-lg-4">
                    <img class="bookingImg" src="img/KidsSoftball.jpg" href="Eventdetails.html" alt="eventBooked"></img>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <h5 class="Bookinghistorytitle">TITLE: SOFTBALL CLUB GC: kids series event!</h5>
                    <p>Order-id: #128573</p>
                    <p>Qty of tickets purchased: 3</p>
                    <p>Time and date of event: 21/05/2023 1:00pm</p>
                    <p>Time and date of booking: 14/05/2023 12:00pm</p>
                    <a href="Eventdetails.html" class="btn btn-outline-warning fw-bold" style="width: 100%;">View Details</a>
                </div>
            </div>
            <div class="row" id="bookingHistory">
                <div class="col-sm-12 col-lg-4">
                    <img class="bookingImg" src="img/KidsMusicLearning.jpg" href="Eventdetails.html" alt="eventBooked"></img>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <h5 class="Bookinghistorytitle">TITLE: Free music lessons for children under the age of 15</h5>
                    <p>Order-id: #933423</p>
                    <p>Qty of tickets purchased: 1</p>
                    <p>Time and date of event: 29/05/2023 3:00pm</p>
                    <p>Time and date of booking: 11/05/2023 11:00am</p>
                    <a href="Eventdetails.html" class="btn btn-outline-warning fw-bold" style="width: 100%;">View Details</a>
                </div>
            </div>
            <h4 class="flex-column align-items-start" style="padding: 1%;">End of results..</h4>
        </div>
{% endblock %}