{% extends 'base.html' %}

{% block content %}
        <div class="container-fluid">
            <h1 class="text-left mt-3 mb-3">My events</h1>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-5 justify-content-center align-items-stretch" id="updateAnEventBody">
                    <img src="img/KidsMusicLearning.jpg"  alt="yourEvent" style="width: 100%">
                    <h5>Title: Free music lessons for children under the age of 15</h5>
                    <p>Status: OPEN</p>
                    <p>Start date and time: 14/05/2023 2:00pm</p>
                    <p>Full address: 15/5 cave street, aspley, Brisbane</p>
                    <a href="#" class="btn btn-outline-warning fw-bold" style="width: 100%">Update event?</a>
                </div>
                <div class="col-sm-12 col-md-5 justify-content-center align-items-stretch" id="updateAnEventBody">
                    <img src="img/KidsSoftball.jpg"  alt="yourEvent2" style="width: 100%">
                    <h5>Title: SOFTBALL CLUB GC: kids series event!</h5>
                    <p>Status: OPEN</p>
                    <p>Start date and time: 19/06/2023 9:00am</p>
                    <p>Full address: 7 main street, yatala, Goldcoast</p>
                    <a href="#" class="btn btn-outline-warning fw-bold" style="width: 100%;">Update event?</a>
                </div>
            </div>
            <h1 class="text-left mt-3 mb-3">Create a new event?</h1>
            <div class="row" id="createAnEventBody">
                <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center align-items-stretch">
                    <form>
                        <div class="form-group">
                            <label for="eventTitle"><span><h5 class="text-left">Title of event:</h5>
                                <input type="text" class="form-control" id="eventTitle" placeholder="Enter event title here."/>
                            </span></label>
                        </div>
                        <div class="form-group">
                            <label for="Address"><span><h5 class="text-left">Address of event:</h5>
                                <input type="text" class="form-control" id="eventAddress" placeholder="Enter a valid address here"/>
                            </span></label>
                        </div> 
                        <div class="form-group">
                            <label for="eventDuration"><span><h5 class="text-left">Duration:</h5>
                                <input type="text" class="form-control" id="eventDuration" placeholder="Duration of event"/>
                            </span></label>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center align-items-stretch">
                    <form>
                        <div class="form-group">
                            <label for="eventCategory"><span><h5 class="text-left">Category of event:</h5>
                                <select class="custom-select form-control" id="eventCategory">
                                <option value="Play">Play</option>
                                <option value="Watch">Watch</option>
                                <option value="Learn">Learn</option>
                            </select></span></label>
                        </div>
                    </form>
                    <div class="form-group">
                        <label for="Address"><span><h5 class="text-left">City of event:</h5>
                            <select class="custom-select form-control">
                                <option value="1">Brisbane</option>
                                <option value="2">Melbourne</option>
                                <option value="3">Hobart</option>
                                <option value="4">Sydney</option>
                                <option value="5">Canberra</option>
                                <option value="6">Gold Coast</option>
                                <option value="7">Adelaide</option>
                                <option value="8">Darwin</option>
                              </select>
                        </span></label>
                    </div>
                    <div class="form-group">
                        <label for="eventTime"><span><h5 class="text-left">Time of event:</h5>
                            <input type="time" class="form-control" id="eventTime" placeholder="Enter a valid time"/>
                        </span></label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center align-items-stretch">
                    <form>
                        <div class="form-group">
                            <label for="eventStartDate"><span><h5 class="text-left">Start Date:</h5>
                                <input type="date" class="form-control" id="eventStartDate"/>
                            </span></label>
                        </div>
                        <div class="form-group">
                            <label for="eventEndDate"><span><h5 class="text-left">End Date:</h5>
                                <input type="date" class="form-control" id="eventEndDate"/>
                            </span></label>
                        </div>
                        <div class="form-group">
                            <label for="qtyTickets"><span><h5 class="text-left">Qty tickets:</h5>
                                <input type="number" class="form-control" id="qtyTickets" placeholder="Quantity tickets"/>
                            </span></label>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-lg-6 justify-content-center align-items-stretch mt-4">
                    <form>
                        <div class="form-group">
                            <label for="AddressSummary"><h5 class="text-left">Summary of event:</h5></label>
                                <textarea type="text" class="form-control" id="eventSummary" style="height: 400px; width: 100%;" placeholder="Enter summary here"/>
                            </textarea>
                        </div> 
                    </form>
                </div>
                <div class="col-md-12 col-lg-6 justify-content-center align-items-stretch mt-4">
                    <form>
                        <div class="form-group">
                            <label for="imgFile"><span><h5 class="text-left">Select your events image:</h5>
                                <img src="img/KidsSoftball.jpg"  alt="selected photo" style="width: 100%">
                                <input type="file" class="form-control" id="imgFile"/>
                                <button class="btn btn-outline-warning" type="submit" style="width: 100%;">Create Event</button>
                            </span></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %} 
