{% extends 'base.html' %}

{% block content %}
        <div class="container-fluid" style="margin-left: 20px;">
            <div class="all" style="padding:1%;">
                <div class="row" id="mainheading">
                    <div class="col-sm-12">
                        <h1 style="padding: 1%; text-align:center;">General Information</h1>
                    </div>
                </div>

                <div class="AboutUs">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="AboutUs">About Us!</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12 col-lg-6">
                            <p class="flex-column align-items-start" >test text: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident earum magnam reiciendis velit recusandae. Illum laboriosam est maiores aspernatur pariatur facilis et, id aperiam, nulla, dignissimos cum quaerat autem molestiae.</p>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            img-goes here
                        </div>
                    </div>
                </div>
                <hr>
                <div class="OurPartners">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="OurPartners">Our Partners:</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <h2 class="flex-column align-items-start">partner 1:</h2>
                            <p class="flex-column align-items-start">test text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut earum excepturi enim beatae dicta unde quibusdam natus, pariatur minima accusamus velit delectus adipisci reiciendis quisquam dolores repellendus aliquam voluptate voluptas.</p>
                        </div> 
                    </div>        
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <h2 class="flex-column align-items-start" >partner 2:</h2>
                            <p class="flex-column align-items-start" >test text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut earum excepturi enim beatae dicta unde quibusdam natus, pariatur minima accusamus velit delectus adipisci reiciendis quisquam dolores repellendus aliquam voluptate voluptas.</p>
                        </div> 
                    </div>  
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <h2 class="flex-column align-items-start">partner 3:</h2>
                            <p class="flex-column align-items-start" >test text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut earum excepturi enim beatae dicta unde quibusdam natus, pariatur minima accusamus velit delectus adipisci reiciendis quisquam dolores repellendus aliquam voluptate voluptas.</p>
                        </div> 
                    </div>  
                </div>
                <hr>
                <div class="ApplyToWork">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom:10px;" id="Work">Apply to work for BUSYBEES?</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12 col-lg-6">
                            <p class="flex-column align-items-start" >BUSSYBEE's has an excelent welecoming working environment perfect for socially minded individuals with a passionate spirit that are ready to work hands on and or help us generate innovative ideas.</p>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <p class="flex-column align-items-start">We are always looking for valuable team members to help BUSYBEES shape a better future <br><button>Apply Now!</button></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="TheFutureOfBusyBees">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="Future">The Future of Busy Bees</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <p class="flex-column align-items-start" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi est quis et tenetur voluptatibus officiis quae voluptatum nihil nostrum sequi explicabo alias ipsa dolores fuga doloribus eius molestiae, delectus molestias?</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="How We Use Your Data">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="DataPolicy">How We Use Your Data</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <p class="flex-column align-items-start" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi est quis et tenetur voluptatibus officiis quae voluptatum nihil nostrum sequi explicabo alias ipsa dolores fuga doloribus eius molestiae, delectus molestias?</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="Report">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="Report">Report an Event</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12 col-lg-6">
                            <p class="flex-column align-items-start" >BusyBees cares about community safty, if you think an event is inapropriate please report it with this button or look for the report event link on the event page.</p>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <p class="flex-column align-items-start"><button>Report Event</button></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="IntelectualProperty">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="Privacy">Privacy and Intellectual Property</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <p class="flex-column align-items-start" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere soluta ratione ex nesciunt officia nisi, eos laborum libero earum, quas nobis assumenda dolore fugit in voluptates doloremque excepturi deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quasi expedita, qui deleniti excepturi voluptatibus laborum nihil ratione, eveniet architecto sunt mollitia fugiat et iste quisquam optio voluptate aperiam porro.</p>
                        </div>   
                    </div>
                </div>
                <hr>
                <div class="Terms of service">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="flex-column align-items-start" style="padding-bottom: 10px;" id="Terms">Terms of Service</h1>
                        </div>
                    </div>
                    <div class="row" id="inform">
                        <div class="col-sm-12">
                            <p class="flex-column align-items-start" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere soluta ratione ex nesciunt officia nisi, eos laborum libero earum, quas nobis assumenda dolore fugit in voluptates doloremque excepturi deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quasi expedita, qui deleniti excepturi voluptatibus laborum nihil ratione, eveniet architecto sunt mollitia fugiat et iste quisquam optio voluptate aperiam porro.</p>
                            <ul>
                                <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
                                <li>lorem</li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
{% endblock %} 
    
